@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141D;
    color: white;
    font-family: 'DM Mono', monospace;
    transform: translate3d(0, 0, 0);
}

.card-list {
    display: flex;
    position: relative;
    padding: 3rem;
    transform: translate3d(0, 0, 0); 
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
}

.card-list::-webkit-scrollbar-thumb {
    background-color: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25);
    
}

.card-list::-webkit-scrollbar-track{
    background: linear-gradient(90deg, #201c29, #201c29);
    

}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    scroll-snap-align: start;
    clear: both;
    height: 250px;
    width: 150px;
    padding: 1.5rem;
    min-width: 250px;
    
    border-radius: 16px;
    background: #17141D;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-1rem);scale:(0.25);
    position: absolute;
    backface-visibility: hidden;
}

.card:hover~.card {
    transform: translateX(120px);scale:(0.25);
    position: absolute;
    backface-visibility: hidden;
}

.card:not(:first-child) {
    margin-left: -75px;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2:hover {
    background: linear-gradient(45deg,#03eec7,#0026ff);
    text-shadow: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

